<!-- MAIN IMAGE -->
<section id="showcase">
    <div class="main_image">
        <div class="ptext1">
            <span class="myborder">
                <span class="green">LA</span> CUSTOM BLINDS
            </span>
        </div>
    </div>
</section>

<!-- WHO WE ARE -->
<section id="about_us">
    <div class="container">
        <h4 class="green">WHO WE ARE</h4>
        <p>Established in 1983. We are a family based business that started in the Midwest with three brothers opening the first store in Detroit in 1983. Since then, we’ve expanded beyond the Midwest, but the three of us still own and run the company by ourselves, maintaining the family environment. With our care for the client, experience, and design skills, we have become one of the largest independent window covering retailers in the country.</p>
        <p class="hide">With a keen eye for design and an expertise in integrating window shades and blinds into the room, we specialize in all forms of window treatments including roller shades, vertical blinds, motorized blinds and shutters. Our professional installers will come for installation quickly after your purchase to ensure that we satisfy your order with precision and care.</p>
        <p class="hide">With over 40 years of expertise in the national window treatment industry, our company provides an unparalleled customer experience when purchasing custom made window coverings. Call us today to schedule your free shop-at-home appointment and take advantage of our free installation.</p>
    </div>
</section>

<!-- PARALLAX IMAGE -->
<section id="parallax">
    <div class="pimg1"></div>
</section>

<!-- WE BRING THE STORE TO YOU -->
<section id="services">
    <div class="container">
        <h1 class="show">We Bring The Store to You</h1>
        <h4 class="show">Call us today to schedule your FREE shop at home appointment!</h4>
        <h1 class="hide">WE BRING THE STORE TO YOU</h1>
        <h4 class="hide">Call us today to schedule your FREE shop at home appointment.  We will bring our full line of products right to your home.  Call today and get  FREE installation as well.</h4>
        <div class="icon_set">
            <div class="icon1">
                <img class="logo" src="/assets/img/logo_handshake.png" alt="handshake logo">
                <p class="logo_text">WE MAKE IT <span class="services_text_highlight">EASY FOR YOU</span></p>
            </div>
            <div class="icon2">
                <img class="logo" src="/assets/img/logo_pencil.png" alt="pencil logo">
                <p class="logo_text">FREE <span class="services_text_highlight">DESIGN</span></p>
            </div>
            <div class="icon3">
                <img class="logo" src="/assets/img/logo_measure.png" alt="tape measure logo">
                <p class="logo_text">FREE <span class="services_text_highlight">MEASUREMENTS</span></p>
            </div>
            <div class="icon3">
                <img class="logo" src="/assets/img/logo_tool.png" alt="tool logo">
                <p class="logo_text">FREE <span class="services_text_highlight">INSTALLATION</span></p>
            </div>
        </div>
    </div>
</section>

<!-- FREE INSTALLATION -->
<section id="installation">
    <div class="container">
        <div class="text_container">
            <h1>FREE INSTALLATION</h1>
            <h3>Installation is ALWAYS FREE on any order over $899.00. You save hundreds!</h3>
            <p>Our team of professional installers will handle your project to the highest level of satisfaction. Our installers can handle the toughest installations with ease. With over 40 years in the business, our installers are trained to ensure the proper installation of your projects. We install Monday thru Saturday and our installers give you a specific time for your installation. We value your time and treat you with family-style service, unlike the big box stores.</p>
        </div>
        <img class="installation-img" src="/assets/img/installation.webp" alt="window blinds">
    </div>
</section>

<!-- COUPONS -->
<section id="coupons">
    <div class="container">
        <img class="coupon-img" src="/assets/img/200_off.png" alt="$200 coupon">
        <img class="coupon-img" src="/assets/img/financing.png" alt="6 month financing">
    </div>
</section>

<hr>

<!-- CUSTOMER REVIEWS -->
<section id="reviews">
    <div class="container">

        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Todd J.</h4>
                <p class="card-text">Install or Replace Blinds or Shades</p>
                <p class="card-text">"I have never written a review for a company,but I thought I needed to take the time to commend this company for there outstanding work.I had both blinds and shades installed on 7 windows and the price and quality were both outstanding.It took only 2 weeks from ordering to installation and they look great.I would highly recommend."</p>
            </div>
        </div>

        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Marjorie F.</h4>
                <p class="card-text">Repair Blinds or Shades</p>
                <p class="card-text">"I was pleased with the company's response to my problem. I was unable to remove the blinds myself, so they arrived in good time to take the blinds, repair them, and return them. It would have been cheaper if I could have taken them in myself, but fortunately they were able to help me out."</p>
            </div>
        </div>

        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Larry C.</h4>
                <p class="card-text">Install or Replace Blinds or Shades</p>
                <p class="card-text">"I called LA Custom Blinds and within a couple of minutes they were on the phone with me. There prices were outstanding and the customer service was more than friendly. I called many places for prices on new blinds and some repairs and LA Custom Blinds was by far the best. They turned my repair around in 30 minutes and the custom blinds and carpet I bought looks beautiful in my home. I would highly refer this company. They beat home depot and lowes by alot."</p>
            </div>
        </div>
    </div>
</section>

<!-- CONTACT -->
<section id="contact">
    <h2 class="contact-text">SCHEDULE YOUR <span class="white">FREE</span> SHOP AT HOME APPOINTMENT & GET <span class="white">FREE</span> INSTALLATION!</h2>
    <div class="contact-container">
        <table>
            <form class="contact-form" action="" method="post">
                <tr>
                    <td><input type="text" name="name" placeholder="Name"></td>
                </tr>
                <tr>
                    <td><input type="text" name="email" placeholder="Email"></td>
                </tr>
                <tr>
                    <td><input type="text" name="number" placeholder="Phone Number"></td>
                </tr>
                <tr>
                    <td><textarea type="text" name="name" placeholder="Enter a message"></textarea></td>
                </tr>
                <tr>
                    <td><input class="btn" type="submit" value="Submit"></td>
                </tr>
            </form>
        </table>
    </div>
</section>

<!-- FOOTER -->
<footer id="footer">
    <div class="container">
        <ul>
            <li><a class="footer-links" href="https://www.facebook.com/LACustomBlinds1/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a class="yelp footer-links" href="https://www.yelp.com/biz/la-custom-blinds-los-angeles" target="_blank"><i class="fa fa-yelp"></i></a></li>
            <li><a class="houzz footer-links" href="https://www.houzz.com/pro/lacustomblinds/la-custom-blinds" target="_blank"><i class="fa fa-houzz"></i></a></li>
        </ul>

        <p>LA Custom Blinds &copy; 2017</p>
    </div>
</footer>
